.container {
    width: 1200px;
    display: flex;
    margin-top: 132px;
    padding: 1rem 1rem;
    position: relative;
    background-color: #f2f2f2;
  }

  
  .img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
  }
  
  .textcontainer {
    flex: 3;
    line-height: 2rem;
    
  }

  
  .title {
    font-size: xx-large;
    font-weight: bold;
    padding: 1.5rem 0 ; 
    
  }
  
  .description {
    font-size: large;
    padding-right: 5px;
  }
  

  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
      padding: 1.8rem;
      flex-direction: column;
    }
    .container :nth-child(1) { order: 2; }
    .container :nth-child(2) { order: 1; }
    
  }
  