.container{
    padding:35px;
    width: 1200px;
    display: flex;
    margin-top: 3px;
    position: relative;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
}
.motto{
    font-size: 20px;
}