*{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    
}


.NavbarItems{
    background:#fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navlogopostition {
    margin-left: 30px;
    margin-top:20px;
    cursor: pointer;
    text-align: center;
    
  }
  
.navlogo {
    border-radius: 80px;
    width:50px;
    height: 50px;
}

.nav_logo_text{
    font-size: 12px;
    color:black;
}


.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    
}

.nav_links{
    color:black;
    text-decoration: none;
    padding: 0.5rem 1rem;
   
}

.nav_links:hover{
    /* background-color: #d45c5c;
    border-radius: 4px;
    transition: all 0.2s ease-out; */
    color:#c71e1e;
}
.nav_links_mobile{
    /* display: block; */
    /* text-align: center; */
    padding: 0.5rem;
    /* margin:2rem auto; */
    border-radius: 4px;
    background: #c71e1e;
    text-decoration: none;
    color:#fff;
    
}
.nav_links_mobile:hover{
    background: #fff;
    color:#c71e1e;
    transition: 250ms;
}

.fa-bars{
    color:black
}

.menu_icon{
    display: none;
}

.link{
    text-decoration: none;
}

@media screen and (max-width:960px){
    .NavbarItems{
        position: relative;
    }
    .nav_menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
        position: absolute;
        top: 80px;
        left:-100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        
    }
    .nav_menu_active{
        background: #fff;
        left: 0;
        opacity: 1;
        transition: al 05s ease;
        z-index: 1;
        position: absolute;
        top: 100px;
        
    }
    .nav_links{
        text-align: center;
        width: 100%;                                                                                                                   
        display: table;
        padding: 20px;
        
    }
    /* .nav_links:hover{
        background-color: #7577fa;
        border-radius: 0;
    } */
    .navbar_logo{
        position: absolute;
        top:0;
        left:0;
        transform: translate(25%,50%);
    }
    .menu_icon{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: #fff;
        font-size: 2rem;
    }
    .nav_links_mobile{
        display: block;
        text-align: center;
        padding: 1.2rem;
        margin:2rem auto;
        border-radius: 4px;
        width: 80%;
        background:  #c71e1e;
        text-decoration: none;
        color:#fff;
        
    }
    .nav_links_mobile:hover{
        color:#c71e1e;
    }
    Button{
        display: none;
    }
}