.container {
    background-color: white;
    width: 1200px;
    margin-top: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 4rem;
  }
  
  .container h2 {
    padding:1.5rem;
  }
  
  
  .subcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
  }
 
  .title{
    text-decoration: none;
    color:#969595
  }

  .active{
    color:black
  }
  
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 675px) {
    .textcontainer {
      width: 100%;
      font-size: small;
    }
  }
  